doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title LINGO TRANSLATE
		//- link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")

	body
		block content
		//- script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='/js/jquery-2.1.1.js')
		//- script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js')
		script(src='/js/handlebars-v1.3.0.js')
		//- script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/main.js')
		block scripts