extends layout

block content
	h1 Translate something awesome!	
	form#translate
		input#transfrom(type="text", placeholder="Translate From", name="transfrom")
		input#transto(type="text", placeholder="Translate To", name="transto")
		input#transword(type="text", placeholder="Word to Translate", name="transword")
		input(type="submit")
	script(src='//code.jquery.com/jquery-2.1.1.min.js')
	script(src='/js/translate.js')