extends layout

block content
	h1 Translate something awesome!	
	form-group#translate
		input#transfrom(type="text", placeholder="Language from...", name="transfrom")
		br
		input#transto(type="text", placeholder="Language to..", name="transto")
		br
		input#transword(type="text", placeholder="Word to Translate", name="transword")
		br
		input(type="submit")
	h2 Translation: 
		h3#result
	a.btn.btn-primary(role='button' href='/quiz') Test your knowledge with the Quiz!
block scripts			