extends layout

block content
	h1 Translate something awesome!	
	h2 This quiz will consist of 10 questions. You must get 8 out of 10 answers correct.
	form#translate
		input#transfrom(type="text", placeholder="Translate From", name="transfrom")
		input#transto(type="text", placeholder="Translate To", name="transto")
		input#transword(type="text", placeholder="Word to Translate", name="transword")
		input(type="submit")
	h2 Translation: 
		h3#result
	script(src='//code.jquery.com/jquery-2.1.1.min.js')
	script(src='/js/main.js')