#container {
	border: 20px;
	margin: 20px;
	padding: 20px;
}

.highlight {
	border: solid yellow 5px;
}

#container.quiz-template {
	border: 5px dotted black;
	border-radius: 10px;
	height: 400px;
	width: 600px;
}